html, body, #root {
  height: 100%;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1200px; /* Optionally, limit the max-width */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.array-container {
  background-color: white;
  color: black;
  height: 300px;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  flex: 1;
}

.array-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

input, button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="number"] {
  width: 200px;
}

h1, h2 {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .array-row {
    display: flex;
    gap: 20px;
  }
}

.array-container {
  position: relative;
}

.array-container button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.array-container button:hover {
  background-color: #45a049;
}

